<!doctype html>
<html>
	<body>
		<header>	
			<h1>Hello World</h1>
			<nav>
				<a href='/'>main</a>
			</nav>
		</header>
		<section>
			{{{ body }}}
		</section>
		<footer>
			<div id="log"></div>
		</footer>
	</body>
</html>
