<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/application.css">
	</head>
	<body>
		<header>	
			<h1>Hello World</h1>
			<nav>
				<a href='/'>main</a>
			</nav>
		</header>
		<aside>
			<ul id="twitter" style="display:none"></ul>
		</aside>
		<div role="main">
			{{{ body }}}
		</div>
		<footer>
			<div id="log" class="console"></div>
		</footer>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/underscore.js"></script>
		<script src="/javascripts/backbone.js"></script>
		<script src="/javascripts/lib.js"></script>
		<script src="/javascripts/application.js"></script>
	</body>
</html>
