a{
	color: darkred;
}
.console{
	width: 200px;
	position: fixed;
	right:0;
	top:0;
	font-family: monospace;
	padding: 0.5em;
	background: black;
	color: white;
}
[role=main] {
	max-width: 30em;
}
aside {
	position: fixed;
	right: 220px;
	top:0;
	width: 200px;
	background: lightgray;
}
